.check-box .box {

-fx-background-color: white;
-fx-border-color:#bcbcbc;
-fx-border-radius:2px; 

}

.check-box:selected .mark {

-fx-background-color:  #4d5d75;

/*#363C4C;*/

}

.check-box:selected .box {

-fx-background-color:  white;
}